@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Gidole&family=MedievalSharp&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 5%;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}


@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: white;
  /* edit this to change the icon color */
  font: normal 28px/55px "responsivenav";
  /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261";
  /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78";
  /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {
  display: block;
}

.js .nav-collapse {
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header {
  z-index: 3;
  width: 100%;
  background-color: #7BAFD4;
  height: 100%;
  text-transform: uppercase;
}

.header-text {
  background-color: #7BAFD4;
  width: 100%;
  height: 55px;
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 1em;

}

.header-text a {
  text-decoration: none;
  color: white;
}



.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: white;
  width: 100%;
  display: block;
}

.nav-collapse a:hover {
  text-decoration: underline;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}


footer {
  text-align: center;
  padding: 1em 0;
  background: #7BAFD4;
  color: white;
}

footer div {
  padding: 0 10px;
}

.tutor-flex-container{
  background: white;
  padding: 70px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .30);
  border-radius: 8px;
  margin: 20px;
}

h1{
  font-size: 28pt;
}

p{
  font-family: serif;
  font-size: 18pt;
}


.photocredit{
  font-size: 7pt;
}

.bold{
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

form input{
  width: 97%;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, .30);
  border-radius: .5em;
}


button {
  width: 97%;                         
  padding: 10px;                       
  border: 2px solid rgba(0, 0, 0, .30);
  border-radius: .5em;                 
  background-color: #7BAFD4;          
  color: white;                         
  font-family: serif;                  
  font-size: 18pt;                   
  transition: background-color 0.2s;  
}

button:hover {
  background-color: #2C2C2C;
}

.tutoring-img{
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul {
    flex-direction: row;
    align-items: flex-end;
  }

  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }

  .tutor-flex-container{
    background: white;
    padding: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .30);
    border-radius: 8px;
    margin: 20px;
  }
}